html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  padding: 0px 20px;
}

.solver-container,
.description-container,
.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.solver-container {
  width: 50%;
}
.right-container,
.description-container {
  width: 25%;
}

#grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.5s ease-in-out;
}

.cell:hover {
  background-color: #eee;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #3e8e41;
}

.cell.backtracking {
  animation-name: backtracking;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes backtracking {
  from {
    background-color: white;
  }
  to {
    background-color: #ffeb3b;
  }
}

.cell.solved {
  animation-name: solved;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes solved {
  from {
    background-color: white;
  }
  to {
    background-color: #8bc34a;
  }
}

#counter {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 16px 0;
}

.description {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  width: 300px;
  margin-right: 50px;
}

.description h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description p {
  margin-bottom: 15px;
}

.description li {
  margin-bottom: 5px;
}

.slider {
  width: 100%;
  height: 5px;
  background-color: #ddd;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
}

.slider .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4caf50;
  position: absolute;
  top: -8px;
  cursor: grab;
  user-select: none;
}

.slider .dot:active {
  cursor: grabbing;
}

.value {
  text-align: center;
}
